name: Build & Deploy

on:
  push:
    branches: [ DEVOPS-*,main,develop ]
    tags: 
      - v*
  pull_request:
    branches: [ main,develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Check dependencies in cache 
        id: yarn-cache 
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Initializing dependencies
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run:  yarn install
      - name: Creating & Initializing env variables 
        run: |
             cd ~/
              echo 'PORT= 3000
              REACT_APP_API_URL = ${{secrets.REACT_APP_API_URL}}
              REACT_APP_FIREBASE_API_KEY = ${{secrets.REACT_APP_FIREBASE_API_KEY}}
              REACT_APP_FIREBASE_AUTH_DOMAIN =${{secrets.REACT_APP_FIREBASE_AUTH_DOMAIN}}
              REACT_APP_FIREBASE_PROJECT_ID = ${{secrets.REACT_APP_FIREBASE_PROJECT_ID}}
              REACT_APP_FIREBASE_STORAGE_BUCKET = ${{secrets.REACT_APP_FIREBASE_STORAGE_BUCKET}}
              REACT_APP_FIREBASE_MESSAGING_SENDER_ID =${{secrets.REACT_APP_FIREBASE_MESSAGING_SENDER_ID}}
              REACT_APP_FIREBASE_APP_ID = ${{secrets.REACT_APP_FIREBASE_APP_ID}}
              REACT_APP_FIREBASE_APP_MEASUREMENT_ID = ${{secrets.REACT_APP_FIREBASE_APP_MEASUREMENT_ID}}
              SENTRY_DSN = ${{secrets.SENTRY_DSN}}
              REACT_APP_RECAPTCHA_SITE_KEY = ${{secrets.REACT_APP_RECAPTCHA_SITE_KEY}}' > .env
              cat .env
      - name: Build
        run: yarn build
      - name: Deploy to App Engine
        uses: google-github-actions/deploy-appengine@v0.2.0
        with:
          deliverables: app.yaml
          project_id: ${{ secrets.GCP_PROJECT }}
          credentials: ${{ secrets.GCP_SA_KEY }}
          promote: false
          version: v1

